/target/
/out/
/.idea/
Java-Input-Output.iml
/files/nope.txt
/files/some-text.txt
/files/ints.bin
/files/ints.bin.gz
/files/archive.zip
/files/person.bin
/files/person-write-object.bin
/files/person-externalizable.bin
/files/person-proxy.bin
/files/aesops-compressed.bin